body {  
  background-color: #222;
  color: white;
}

form {
  * {
    display: block;
    margin: 0 auto !important;
    width: 50%;
  }

  input.btn-success {
    margin-top: 20px !important;
  }

  text-align: center;
}

pre {
  background-color: white;
  font-size: 0.9em;
  font-family: "Consolas", "Liberation Mono", Courier, monospace;
}